<h1>Movie information</h1>

<p>Title: <%= @movie.title %></p>
<p>Creation year: <%= @movie.creation_year %></p>
<p>Genre: <%= @movie.genre %></p>

<p>Average actor age: <%= @movie.average_age %></p>

<% @movie.ordered_actors.each do |actor| %>
  <%= actor.name %>
<% end  %>
