<h1>Movie information</h1>

<p>Title: <%= @movie.title %></p>
<p>Creation year: <%= @movie.creation_year %></p>
<p>Genre: <%= @movie.genre %></p>

<p>Average actor age: <%= @movie.average_age %></p>

<% @movie.ordered_actors.each do |actor| %>
  <p><%= actor.name %></p>
<% end  %>


<br>
<h3>Add an actor to this movie</h3>

<%= form_with url: "#{@movie.id}/actors", method: :post, local: true do |f| %>
  <%= f.label :name, "Actor name" %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end  %>
